<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benjamino.folderify</string>
	<key>connections</key>
	<dict>
		<key>0034CFD2-C135-49CE-A092-3084365ACFAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6D82242-189B-4269-9BB5-9170EA9C21C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>026FB7C2-0015-43DC-B4C0-8D3B2A88BCF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74486CAF-13DD-421E-B52D-79BA07B691EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C91EEF8-20C4-421C-8194-668AA132FA74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A29B494-A73D-42C1-A35D-09901E0A39CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1344D134-8F96-45A1-B1FF-0C8B12A57768</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>74486CAF-13DD-421E-B52D-79BA07B691EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13A89185-F404-441A-B8F7-8AC12156DF6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19E6E24A-594C-4C2F-9F70-6B97E70B4862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25C55849-BA71-4A59-BE08-0FF9B2A3284B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13A89185-F404-441A-B8F7-8AC12156DF6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29E77443-10BE-470C-9525-A2801F010E13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1344D134-8F96-45A1-B1FF-0C8B12A57768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A29B494-A73D-42C1-A35D-09901E0A39CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52652AC5-44FF-4F2D-B998-3EFB7911C499</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29E77443-10BE-470C-9525-A2801F010E13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74486CAF-13DD-421E-B52D-79BA07B691EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25C55849-BA71-4A59-BE08-0FF9B2A3284B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25C55849-BA71-4A59-BE08-0FF9B2A3284B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89772932-A78F-46F6-9ADD-27507D8A5112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C91EEF8-20C4-421C-8194-668AA132FA74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0034CFD2-C135-49CE-A092-3084365ACFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6D82242-189B-4269-9BB5-9170EA9C21C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F609F008-1F69-466D-AC7B-B15523288B25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0034CFD2-C135-49CE-A092-3084365ACFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDAE9882-A31A-41D3-B139-B87DD370B22E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F609F008-1F69-466D-AC7B-B15523288B25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDAE9882-A31A-41D3-B139-B87DD370B22E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBAEAB4C-92D2-44B9-A2E6-335C83CAB744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52652AC5-44FF-4F2D-B998-3EFB7911C499</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDAE9882-A31A-41D3-B139-B87DD370B22E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EA3E5D1-D902-4884-A548-7CA8BD56F5B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>858CBA9A-76BF-4F4E-AB3A-16789D3C48CF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCA150CD-967E-4FD0-A659-C8D490C1C95B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E483B0E6-5E1E-4F8E-BE08-F61FB4E857AB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benjamin Oddou</string>
	<key>description</key>
	<string>📁 Generate pixel-perfect macOS folder icons</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Folderify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:data_folder}/logs_{var:trigger_1}.txt</string>
				<key>filetext</key>
				<string>{date:YYYY/MM/dd}
{time:HH:mm:ss}
{query}
______________________</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>F609F008-1F69-466D-AC7B-B15523288B25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./foldicon.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6D82242-189B-4269-9BB5-9170EA9C21C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Start writing to find png files</string>
				<key>title</key>
				<string>Choose the mask to create the icon</string>
				<key>types</key>
				<array>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0034CFD2-C135-49CE-A092-3084365ACFAB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>2A29B494-A73D-42C1-A35D-09901E0A39CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:trigger_1}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Start writing to find folders</string>
				<key>title</key>
				<string>Choose folder(s) you want to modify the icon of</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>89772932-A78F-46F6-9ADD-27507D8A5112</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_folders_list</key>
					<string>{var:_folder_no_buffer}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_folder_no_buffer</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C91EEF8-20C4-421C-8194-668AA132FA74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>3EA3E5D1-D902-4884-A548-7CA8BD56F5B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Modify folder icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>19E6E24A-594C-4C2F-9F70-6B97E70B4862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:workflow_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>858CBA9A-76BF-4F4E-AB3A-16789D3C48CF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:workflow_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>E483B0E6-5E1E-4F8E-BE08-F61FB4E857AB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FDAE9882-A31A-41D3-B139-B87DD370B22E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_folders_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>BCA150CD-967E-4FD0-A659-C8D490C1C95B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./imgicon.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13A89185-F404-441A-B8F7-8AC12156DF6E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:data_folder}/logs_{var:trigger_2}.txt</string>
				<key>filetext</key>
				<string>{date:YYYY/MM/dd}
{time:HH:mm:ss}
{query}
______________________</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>29E77443-10BE-470C-9525-A2801F010E13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:trigger_2}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Start writing to find png files</string>
				<key>title</key>
				<string>Choose mask(s) to create icon(s)</string>
				<key>types</key>
				<array>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FBAEAB4C-92D2-44B9-A2E6-335C83CAB744</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>25C55849-BA71-4A59-BE08-0FF9B2A3284B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_masks_list</key>
					<string>{var:_mask_no_buffer}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1344D134-8F96-45A1-B1FF-0C8B12A57768</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_mask_no_buffer</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>52652AC5-44FF-4F2D-B998-3EFB7911C499</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Create folder icon from mask</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>026FB7C2-0015-43DC-B4C0-8D3B2A88BCF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_masks_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>74486CAF-13DD-421E-B52D-79BA07B691EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 🎩 Alfred Folderify

✨ *Generate pixel-perfect macOS folder icons* ✨

## 🏎️ Folderify

Under the hood, the icon generation is made with [folderify](https://github.com/lgarron/folderify) made by [Lucas Garron](https://github.com/lgarron).

## 🧰 Setup the workflow

Install folderify (using [Homebrew](https://brew.sh)) :

`brew install folderify`

Note that you have [other installation options](https://github.com/lgarron/folderify#other-installation-options) for folderify

## 🧙‍♂️ Invoke the workflow

There are 2 flows in this workflow :

1. The first one allows you to assign an generated icon to one or multiple folder(s). It can be triggered by writing `foldicon` keyword.
2. The second allows you to generate `mask.icns` and `mask.iconset` files from one or multiple mask(s). You can invoke this flow with the `imgicon` keyword.

You can edit these triggers (flagged with a `🕹️` symbol) in the user configuration panel.

## 🤖 Usage of the workflow

Go to the dedicated [GitHub repository](https://github.com/BenjaminOddou/alfred-folderify) page to check the documentation

### Reset icon folder

To reset a folder’s icon, open its Get Info panel then click the icon and press ⌫.

© Benjamin Oddou</string>
	<key>uidata</key>
	<dict>
		<key>0034CFD2-C135-49CE-A092-3084365ACFAB</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>026FB7C2-0015-43DC-B4C0-8D3B2A88BCF8</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>0C91EEF8-20C4-421C-8194-668AA132FA74</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>1344D134-8F96-45A1-B1FF-0C8B12A57768</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>13A89185-F404-441A-B8F7-8AC12156DF6E</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>19E6E24A-594C-4C2F-9F70-6B97E70B4862</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>25C55849-BA71-4A59-BE08-0FF9B2A3284B</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>29E77443-10BE-470C-9525-A2801F010E13</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>2A29B494-A73D-42C1-A35D-09901E0A39CC</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3EA3E5D1-D902-4884-A548-7CA8BD56F5B9</key>
		<dict>
			<key>xpos</key>
			<real>1510</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>52652AC5-44FF-4F2D-B998-3EFB7911C499</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>74486CAF-13DD-421E-B52D-79BA07B691EB</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>89772932-A78F-46F6-9ADD-27507D8A5112</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BCA150CD-967E-4FD0-A659-C8D490C1C95B</key>
		<dict>
			<key>xpos</key>
			<real>1510</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>C6D82242-189B-4269-9BB5-9170EA9C21C2</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</key>
		<dict>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>F609F008-1F69-466D-AC7B-B15523288B25</key>
		<dict>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>FBAEAB4C-92D2-44B9-A2E6-335C83CAB744</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>FDAE9882-A31A-41D3-B139-B87DD370B22E</key>
		<dict>
			<key>xpos</key>
			<real>1380</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/Alfred/Workflow Data/com.benjamino.folderify</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The folder that holds all the generated log files.</string>
			<key>label</key>
			<string>📂 Data folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>data_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>foldicon</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that launches the first flow</string>
			<key>label</key>
			<string>🕹️ Trigger 1</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger_1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>imgicon</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that launches the second flow.</string>
			<key>label</key>
			<string>🕹️ Trigger 2</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger_2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Auto 🍏</string>
						<string></string>
					</array>
					<array>
						<string>Big Sur 🍌</string>
						<string>--macOS 11.0</string>
					</array>
					<array>
						<string>Yosemite 🍒</string>
						<string>--macOS 10.10</string>
					</array>
					<array>
						<string>Leopard 🍊</string>
						<string>--macOS 10.5</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Set the folder icon style (the default is your current macOS version).</string>
			<key>label</key>
			<string>🖼️ Folder icon style</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>folder_icon_style</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Auto 🌓</string>
						<string></string>
					</array>
					<array>
						<string>Dark 🌑</string>
						<string>--color-scheme dark</string>
					</array>
					<array>
						<string>Light 🌕</string>
						<string>--color-scheme light</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Set the folder icon color scheme. By default, it uses your system's current light/dark mode. (only available for macOS 11.0 - Big Sur or later)</string>
			<key>label</key>
			<string>🎨 Color scheme</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>color_scheme</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Yes 👍</string>
						<string></string>
					</array>
					<array>
						<string>No 👎</string>
						<string>--no-trim</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>If 'No' is selected, margins won't be trimmed. By default, transparent margins are trimmed from all 4 sides.</string>
			<key>label</key>
			<string>✂️ Trim margins</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>trim_margins</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Simple 🔭</string>
						<string></string>
					</array>
					<array>
						<string>Detailed 🔬</string>
						<string>--verbose</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Control whether you prefer detailed logs or not.</string>
			<key>label</key>
			<string>📃 Output format</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>verbose</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>_open</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open log file 🟢</string>
						<string>_open</string>
					</array>
					<array>
						<string>Reveal log file in finder 🔵</string>
						<string>_reveal</string>
					</array>
					<array>
						<string>Display a notification 🟡</string>
						<string>_notif</string>
					</array>
					<array>
						<string>Do nothing 🔴</string>
						<string></string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose output action.</string>
			<key>label</key>
			<string>🔫 Workflow action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>workflow_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Submarine</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Mute 🔕</string>
						<string></string>
					</array>
					<array>
						<string>Submarine 🤿</string>
						<string>Submarine</string>
					</array>
					<array>
						<string>Pop 🎉</string>
						<string>Pop</string>
					</array>
					<array>
						<string>Ping ✨</string>
						<string>Ping</string>
					</array>
					<array>
						<string>Purr 🐯</string>
						<string>Purr</string>
					</array>
					<array>
						<string>Hero ⚔️</string>
						<string>Hero</string>
					</array>
					<array>
						<string>Funk 🕺</string>
						<string>Funk</string>
					</array>
					<array>
						<string>Basso 🎧</string>
						<string>Basso</string>
					</array>
					<array>
						<string>Sosumi 📻</string>
						<string>Sosumi</string>
					</array>
					<array>
						<string>Glass 🍸</string>
						<string>Glass</string>
					</array>
					<array>
						<string>Blow 💨</string>
						<string>Blow</string>
					</array>
					<array>
						<string>Bottle 🍼</string>
						<string>Bottle</string>
					</array>
					<array>
						<string>Frog 🐸</string>
						<string>Frog</string>
					</array>
					<array>
						<string>Tink 🛎️</string>
						<string>Tink</string>
					</array>
					<array>
						<string>Morse ♨️</string>
						<string>Morse</string>
					</array>
					<array>
						<string>Classic 😃</string>
						<string>default</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Workflow notification sound.</string>
			<key>label</key>
			<string>🎷 Notification sound</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sound</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/BenjaminOddou/alfred-folderify</string>
</dict>
</plist>
