<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benjamino.folderify</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0034CFD2-C135-49CE-A092-3084365ACFAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6D82242-189B-4269-9BB5-9170EA9C21C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F722189-A602-438D-A6E6-3C8D2090821B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>026FB7C2-0015-43DC-B4C0-8D3B2A88BCF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74486CAF-13DD-421E-B52D-79BA07B691EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C91EEF8-20C4-421C-8194-668AA132FA74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A29B494-A73D-42C1-A35D-09901E0A39CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1344D134-8F96-45A1-B1FF-0C8B12A57768</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>74486CAF-13DD-421E-B52D-79BA07B691EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13A89185-F404-441A-B8F7-8AC12156DF6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19E6E24A-594C-4C2F-9F70-6B97E70B4862</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25C55849-BA71-4A59-BE08-0FF9B2A3284B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F722189-A602-438D-A6E6-3C8D2090821B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13A89185-F404-441A-B8F7-8AC12156DF6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29E77443-10BE-470C-9525-A2801F010E13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1344D134-8F96-45A1-B1FF-0C8B12A57768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A29B494-A73D-42C1-A35D-09901E0A39CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52652AC5-44FF-4F2D-B998-3EFB7911C499</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29E77443-10BE-470C-9525-A2801F010E13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74486CAF-13DD-421E-B52D-79BA07B691EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25C55849-BA71-4A59-BE08-0FF9B2A3284B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25C55849-BA71-4A59-BE08-0FF9B2A3284B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89772932-A78F-46F6-9ADD-27507D8A5112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C91EEF8-20C4-421C-8194-668AA132FA74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0034CFD2-C135-49CE-A092-3084365ACFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6D82242-189B-4269-9BB5-9170EA9C21C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F609F008-1F69-466D-AC7B-B15523288B25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0034CFD2-C135-49CE-A092-3084365ACFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4880ED4D-CA10-4589-A999-29C0640CA870</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E5B4DA4C-D0E3-4CC6-82A2-0106B4B6716B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F609F008-1F69-466D-AC7B-B15523288B25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21D82DF2-BE59-4426-9AC2-B0D271814740</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4880ED4D-CA10-4589-A999-29C0640CA870</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBAEAB4C-92D2-44B9-A2E6-335C83CAB744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52652AC5-44FF-4F2D-B998-3EFB7911C499</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benjamin Oddou</string>
	<key>description</key>
	<string>📁 Generate pixel-perfect macOS folder icons</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Folderify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:data_folder}/logs_{var:trigger_1}.txt</string>
				<key>title</key>
				<string>See the logs here 📃</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>21D82DF2-BE59-4426-9AC2-B0D271814740</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:data_folder}/logs_{var:trigger_1}.txt</string>
				<key>filetext</key>
				<string>{date:YYYY/MM/dd}
{time:HH:mm:ss}
{query}
______________________</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>F609F008-1F69-466D-AC7B-B15523288B25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./foldicon.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6D82242-189B-4269-9BB5-9170EA9C21C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Loading png files...</string>
				<key>title</key>
				<string>Choose the mask to create the icon</string>
				<key>types</key>
				<array>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>{query}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0034CFD2-C135-49CE-A092-3084365ACFAB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>2A29B494-A73D-42C1-A35D-09901E0A39CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:trigger_1}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Loading folders...</string>
				<key>title</key>
				<string>Choose folder(s) you want to modify the icon of</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>89772932-A78F-46F6-9ADD-27507D8A5112</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_folders_list</key>
					<string>{var:_folder_no_buffer}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_folder_no_buffer</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C91EEF8-20C4-421C-8194-668AA132FA74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:data_folder}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4880ED4D-CA10-4589-A999-29C0640CA870</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the workflow is generating icons, please wait till the end.</string>
				<key>title</key>
				<string>Loading icons... ⏳</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0F722189-A602-438D-A6E6-3C8D2090821B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Modify folder icon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>19E6E24A-594C-4C2F-9F70-6B97E70B4862</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_folders_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./imgicon.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13A89185-F404-441A-B8F7-8AC12156DF6E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:data_folder}/logs_{var:trigger_2}.txt</string>
				<key>filetext</key>
				<string>{date:YYYY/MM/dd}
{time:HH:mm:ss}
{query}
______________________</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:data_folder}/logs_{var:trigger_2}.txt</string>
				<key>title</key>
				<string>See the logs here 📃</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5B4DA4C-D0E3-4CC6-82A2-0106B4B6716B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>29E77443-10BE-470C-9525-A2801F010E13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:trigger_2}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Loading png files...</string>
				<key>title</key>
				<string>Choose mask(s) to create icon(s)</string>
				<key>types</key>
				<array>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FBAEAB4C-92D2-44B9-A2E6-335C83CAB744</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>25C55849-BA71-4A59-BE08-0FF9B2A3284B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_masks_list</key>
					<string>{var:_mask_no_buffer}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1344D134-8F96-45A1-B1FF-0C8B12A57768</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_mask_no_buffer</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>52652AC5-44FF-4F2D-B998-3EFB7911C499</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Create folder icon from mask</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>026FB7C2-0015-43DC-B4C0-8D3B2A88BCF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_masks_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>74486CAF-13DD-421E-B52D-79BA07B691EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 🎩 Alfred Folderify

✨ *Generate pixel-perfect macOS folder icons* ✨

![workflow](./images/workflow.webp)

## ✅ Prerequisite

* 🍎 MacOS.
* 🎩 Alfred 5. Note that the [Alfred Powerpack](https://www.alfredapp.com/powerpack/) is required to use workflows.

## ℹ️ information

* 🏎️ Under the hood, the icon generation is made with [folderify](https://github.com/lgarron/folderify) made by [Lucas Garron](https://github.com/lgarron).

## 🧙‍♂️ Invoke the Workflow

There is 2 flows in this workflow :

1. The first one allows you to assign an generated icon to one or multiple folder(s). It can be triggered by writing `foldicon` keyword.
2. The second allows you to generate `mask.icns` and `mask.iconset` files from one or multiple mask(s). You can invoke this flow with the `imgicon` keyword.

You can change these values by changing the `🕹️ Trigger 1` or `🕹️ Trigger 2` variables in workflow configuration panel [optionnal]. Please avoid putting the same trigger for the two flows.

## 🧰 Setup the workflow

### 👨‍💻 Install dependencies

#### Open the Terminal of you Mac and run the following commands

1. ☑️ Install Homebrew.

`/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"`

2. ☑️ Install folderify.

`brew install folderify`

💡 Note that you have [other installation options](https://github.com/lgarron/folderify#other-installation-options) for folderify

### 📂 Data (Logs) folder

❗ This variable cannot be empty. You can change it at your convenience in the workflow configuration panel.

It contains the output logs generated by folderify.

💡 Note that if you change the `Data folder` location after generating logs, you should probably move the files created along in the new folder.

## 🤖 Usage of the workflow

### ⚒️ Setup variables

All of the following variables correspond to a folderify argument. Check the original [folderify documentation](https://github.com/lgarron/folderify#full-options) if you need more details.

1. `🖼️ Folder icon style` correspond to the `--macOS VERSION` folderify argument and allows you to change the style of the icon folder. Here are the current available styles from all macOS versions :

`Auto 🍏` : will detect your system version and apply the correct settings.

`Big Sur 🍌` : --macOS 11.0 and above.

![big_sur_light](./images/big_sur_light.webp)

`Yosemite 🍒` : --macOS ["10.10", "10.11", "10.12", "10.13", "10.14", "10.15"].

![yosemite](./images/yosemite.webp)

`Leopard 🍊` : --macOS ["10.5", "10.6", "10.7", "10.8", "10.9"].

![leopard](./images/leopard.webp)

2. `🎨 Color scheme` correspond to the `--color-scheme COLOR_SCHEME` folderify argument and allows you to change the color of the icon folder (slight difference). 

`🌓 Auto` : will match current system settings.

`🌑 Dark` : --color-scheme dark will force dark mode.

![big_sur_dark](./images/big_sur_dark.webp)

`🌕 Light` : --color-scheme light will force light mode.

![big_sur_light](./images/big_sur_light.webp)

💡 Note that the --color-scheme argument is only avalaible for `Big Sur 🍌` (--macOS 11.0) and above.

3. `✂️ Trim margins` corresponds to the `--no-trim` folderify argument.

`Yes 👍` : transparent margins are trimmed from all 4 sides.

![big_sur_dark](./images/big_sur_dark.webp)

`No 👎` : --no-trim. Keeps transparent margins from the mask.

![no_trim](./images/no_trim.webp)

Here is a small schema to explain the principle :

![schema_trim](./images/schema_trim.webp)

4. `📃 Ouput format` : corresponds to the `--verbose` folderify argument. 

`Simple 🔭` : simple output.

![log_simple](./images/log_simple.webp)

`Detailed 🔬` : --verbose. Detail output.

![log_detailed](./images/log_detailed.webp)

### 🔥 Modify icons folders

Launch the first flow with the `🕹️ Trigger 1`, choose the folder you want to modify and press ⏎.

![trigger1_1](./images/trigger1_1.webp)

Choose the mask that will be used for generating the new icon and press ⏎.

![trigger1_2](./images/trigger1_2.webp)

### 💧 Generate icns and iconset files

Launch the second flow with the `🕹️ Trigger 2`, choose the mask you want to modify and press ⏎.

![trigger2_1](./images/trigger2_1.webp)

### 🎩 Alfred Buffer and Universal Actions

For both flows, you can use the `Alfred Buffer` to select multiple folder(s) (flow 1) or maks(s) (flow 2).

`Alfred Buffer` basic commands are :

* ⌥↑ to add a file to the buffer from Alfred's results.
* ⌥↓ to add a file and move to the next item in your list of results.
* ⌥← to remove the last item from the buffer.
* ⌥→ to action all items in the buffer.
* ⌥⌫ to remove all items from the buffer.

To know more on how to use `Alfred Buffer`, follow this [link](https://www.alfredapp.com/help/features/file-search/#file-buffer).

💡 Note that `Alfred Buffer` is preferred compare to the `{query}`, meaning that if you select a folder/image (by clicking on it or by pressing enter ⏎) that is not included in the buffer, **it will not be compressed**.

![alfred_buffer1](./images/alfred_buffer1.webp)

![alfred_buffer2](./images/alfred_buffer2.webp)

For both flows you can use the corresponding `Alfred Universal Actions` :

1. If you want to start the first flow, select one or multiple folders and select `Modify folder icon`.

![universal1](./images/universal1.webp)

2. If you want to start the second flow, select one or multiple folders and select `Create folder icon from mask`.

![universal2](./images/universal2.webp)

### 📃 Logs output

Check the logs of the folderify command under the `Data folder`. The log file contains the 3 parts :
1. Date and time of the workflow launch.
2. Workflow options.
3. Folderify command detailed.
4. Folderify output.

💡 Note that each workflow run is separated by a line.

![log_simple](./images/log_simple.webp)

© Benjamin Oddou</string>
	<key>uidata</key>
	<dict>
		<key>0034CFD2-C135-49CE-A092-3084365ACFAB</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>026FB7C2-0015-43DC-B4C0-8D3B2A88BCF8</key>
		<dict>
			<key>note</key>
			<string>Please submit issues and feature requests at https://github.com/BenjaminOddou/alfred-folderify</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>0C91EEF8-20C4-421C-8194-668AA132FA74</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>0F722189-A602-438D-A6E6-3C8D2090821B</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>1344D134-8F96-45A1-B1FF-0C8B12A57768</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>13A89185-F404-441A-B8F7-8AC12156DF6E</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>19E6E24A-594C-4C2F-9F70-6B97E70B4862</key>
		<dict>
			<key>note</key>
			<string>Please submit issues and feature requests at https://github.com/BenjaminOddou/alfred-folderify</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>21D82DF2-BE59-4426-9AC2-B0D271814740</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>25C55849-BA71-4A59-BE08-0FF9B2A3284B</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>29E77443-10BE-470C-9525-A2801F010E13</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>2A29B494-A73D-42C1-A35D-09901E0A39CC</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>4880ED4D-CA10-4589-A999-29C0640CA870</key>
		<dict>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>52652AC5-44FF-4F2D-B998-3EFB7911C499</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>74486CAF-13DD-421E-B52D-79BA07B691EB</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>845B2574-2C5F-4DD3-8407-DD9B017C7B2E</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>89772932-A78F-46F6-9ADD-27507D8A5112</key>
		<dict>
			<key>note</key>
			<string>Please submit issues and feature requests at https://github.com/BenjaminOddou/alfred-folderify</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>B0018DB6-21A5-4306-B25B-1A8B8CE5A1C1</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>C3775C3E-5C00-420F-BB9C-BD34B9A4AA9E</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>C6D82242-189B-4269-9BB5-9170EA9C21C2</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>DD46D6F8-00CE-42B7-8F49-7DC79B48DAA3</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>E5B4DA4C-D0E3-4CC6-82A2-0106B4B6716B</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>F5B76F0B-083B-418E-A1F4-6D19C8A7E510</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>F609F008-1F69-466D-AC7B-B15523288B25</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>FBAEAB4C-92D2-44B9-A2E6-335C83CAB744</key>
		<dict>
			<key>note</key>
			<string>Please submit issues and feature requests at https://github.com/BenjaminOddou/alfred-folderify</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/Alfred/Workflow Data/com.benjamino.folderify</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The folder that holds all the generated log files.</string>
			<key>label</key>
			<string>📂 Data Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>data_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>foldicon</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that launches the first flow</string>
			<key>label</key>
			<string>🕹️ Trigger 1</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger_1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>imgicon</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that launches the second flow.</string>
			<key>label</key>
			<string>🕹️ Trigger 2</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger_2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Auto 🍏</string>
						<string></string>
					</array>
					<array>
						<string>Big Sur 🍌</string>
						<string>--macOS 11.0</string>
					</array>
					<array>
						<string>Yosemite 🍒</string>
						<string>--macOS 10.10</string>
					</array>
					<array>
						<string>Leopard 🍊</string>
						<string>--macOS 10.5</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Set the folder icon style (the default is your current macOS version).</string>
			<key>label</key>
			<string>🖼️ Folder icon style</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>folder_icon_style</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Auto 🌓</string>
						<string></string>
					</array>
					<array>
						<string>Dark 🌑</string>
						<string>--color-scheme dark</string>
					</array>
					<array>
						<string>Light 🌕</string>
						<string>--color-scheme light</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Set the folder icon color scheme. By default, it uses your system's current light/dark mode. (only available for macOS 11.0 - Big Sur or later)</string>
			<key>label</key>
			<string>🎨 Color scheme</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>color_scheme</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Yes 👍</string>
						<string></string>
					</array>
					<array>
						<string>No 👎</string>
						<string>--no-trim</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>If 'No' is selected, margins won't be trimmed. By default, transparent margins are trimmed from all 4 sides.</string>
			<key>label</key>
			<string>✂️ Trim margins</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>trim_margins</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>pairs</key>
				<array>
					<array>
						<string>Simple 🔭</string>
						<string></string>
					</array>
					<array>
						<string>Detailed 🔬</string>
						<string>--verbose</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Control wether your prefer detailed logs or not.</string>
			<key>label</key>
			<string>📃 Ouput format</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>verbose</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/BenjaminOddou/alfred-folderify</string>
</dict>
</plist>
